<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shopping mall</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        img{
            width: 400px;
            height: 500px;
        }
    </style>
</head>
<body th:replace="~{layout :: layout}">
<div th:fragment="content">
    <div class="body-detail">
        <img th:src="${vo2.img_name}">
        <p th:text="${vo2.name}"></p>
        <p class="text-align" th:text="'KRW '+${vo2.price}"></p>
        <p class="text-align" th:text="'detail: '+${vo2.content}"></p>
        <button th:if="${session.id} == admin" id="deleteBtn" th:onclick="|if (confirm('정말 수정하시겠습니까?')) { location.href='/product/deleteOK?num=${vo2.num}'; }|"> 삭제 </button>
        <button th:if="${session.id} == admin"  th:onclick="|location.href='/product/update?num=${vo2.num}'|"> 수정 </button>
    </div>
</div>
</body>
</html>