<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shopping mall</title>
    <link href="/css/style.css" rel="stylesheet">
    <style>
        span, p{
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 300px;
            background-color: blanchedalmond;
            width: 60%;
            height: 100px;
        }
    </style>
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
<span th:text="상품을 성공적으로 주문 완료하였습니다."></span>
<h5 th:text="'주문번호는 '+ ${approve.partner_order_id}+ '입니다'"></h5>
    <a href=""></a>
</div>
</body>
</html>