<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notice</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body th:replace="~{layout :: layout}">
<div th:fragment="content">
    <div class="body">
        <h3 th:text="${vo2.title}"></h3>
        <p>
            <small th:text="${vo2.wdate}"></small>
        </p>
        <p>
            <span th:text="${vo2.content}"></span>
        </p>
    </div>
    <button th:if="${session.id}" th:onclick="|if(confirm('정말 삭제하시겠습니까?')) { location.href='/board/deleteOK?num=${vo2.num}';}|">DELTEL</button>
</div>
</body>
</html>