<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body th:replace="~{layout :: layout}">
<div th:fragment="content">
    <div th:each=" list : ${list}" class="body">
        <a th:href="|/board/detail?num=${list.num}|">
            <span th:text="${list.num}"></span>
            <span th:text="${list.title}"></span>
            <span th:text="${list.content}"></span>
            <span th:text="${list.wdate}"></span>
            <a class="delete" th:href="|/board/deleteOK?num=${list.num}|">X</a>
        </a>
    </div>
</div>

</body>
</html>