<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FIND ID</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body th:replace="~{layout :: layout}">
<div th:fragment="content" >
    <div class="sub-title">FIND ID</div>
    <form action="/user/findbyIdOK" method="post" class="login">
        <p>
            <small>NAME</small>
            <input th:class="input_a" type="text" id="name" name="name">
        </p>
        <hr style="width: 200px">
        <p>
            <small>EMAIL</small>
            <input th:class="input_a" type="text" id="email" name="email">
        </p>
        <hr style="width: 200px">
        <button id="submitBtn" type="submit">확인</button>
    </form>

</div>
</body>
</html>