<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/script.js"></script>
    <style>
        #kakaoLoginbtn{
            width: 300px;
            height: 50px;
            border: none;
        }
    </style>


</head>
<body th:replace="~{layout :: layout}">
<div th:fragment="content" >
    <div class="sub-title">LOG IN</div>
<form action="/loginOK" method="post" class="login" id="loginForm">
    <p>
        <label for="id">ID</label>
        <div>
            <input class="input_a" type="text" name="id" id="id" required>
        </div>
        <hr width="200px">
    </p>
    <p>
        <label for="pw">PASSWORD</label>
        <div>
            <input class="input_a" type="password" name="pw" id="pw" required>
        </div>
    <hr width="200px">
    <p id="errorMessage"></p>
    </p>
    <button id="submitBtn" type="submit" disabled >LOG IN</button>
</form>
    <div th:class="align-items">
        <a id="kakaoLoginbtn" th:href="${kakaoRedirectUrl}"><img id="kakao-login-icon" src="/img/kakao_login_medium_narrow.png"></a>
    </div>
    <div th:class="align-items">
        <span>
            <a href="/user/findbyId" th:class="findpw">FORGOT ID</a> /
            <a href="/user/findbyPw" th:class="findpw">FORGOT PASSWORD</a>
        </span>
    </div>
</div>
</body>
</html>