<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>
<body th:replace="~{layout :: layout}">
<div th:fragment="content">
    <div th:each=" list : ${list}">
        <a th:href="|/cartView?num=${list.num}|">
            <span th:text="${list.num}"></span>
            <span th:text="${list.pName}"></span>
            <span th:text="${list.price}"></span>
            <a class="delete" th:href="|/cart/delete?num=${list.num}|"></a>
        </a>
    </div>
</div>

</body>
</html>