#footer{
    text-align: center;
}
.body{
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-decoration-color: black;
    text-align: center;
    padding: 15px;
    display: flex;
}
#body textarea{
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
        }
.delete{
    text-decoration-line: none;
    float: right;
    margin-right: 30px;
}
.value{
    padding-bottom: 2px;
    font-size: 15px;
}
a{
    text-decoration-line: none;
}
.body > a{
    color: black;
}
.body-detail{
    justify-content: right;
    align-items: center;
    margin: 50px;
    text-align: center;
}
.center{
    justify-content: right;
    align-items: center;
    margin: 50px;
    text-align: center;
}
textarea{
    width: 200px;
    height: 300px;
    background-color: lightgray;
    font-size: 15px;
}


.kakao{
    margin: 30px;
}

#submitBtn{
    width: 150px;
    height: 50px;
    background-color: sienna;
    font-size: 13px;
    color: white;
    border: 0;
    outline: 0;
}
#submitBtn:hover{
    background-color: saddlebrown;
}
#cancelBtn{
    width: 150px;
    height: 50px;
    background-color: sienna;
    font-size: 13px;
    color: white;
    border: 0;
    outline: 0;
}
#cancelBtn:hover{
    background-color: saddlebrown;
}

.login{
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 100px;
    text-decoration-color: black;
    text-align: center;
}
.Account-form{
    font-size: 20px;
    text-decoration-color: black;
    width: 450px;
    height: 500px;
    text-align: center;
    display: inline-block;
}


.input_a{
    border: 0;
    outline: 0;
    padding: 5px;
}
.input_b{
    border: 0;
    outline: 0;
    padding: 5px;
    width: 100px;
}
.index_a{
    border-radius: 30px;
    background-color: burlywood;
    text-decoration-color: black;
    margin-left: 10px;
}
.index_div{
    border-radius: 30px;
    background-color: burlywood;
    text-decoration-color: black;
    width: 130px;
    margin: 10px;
    float: right;
    font-size: 15px;

}
.findpw{
    margin-top: 30px;
}
.align-items{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: saddlebrown;
    margin-top: 20px;
}

#preview{
    width: 100px;
    height: 150px;
}

.date-right{
    float: right;
    margin-right: 30px;
}
.product-list{
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.text-align{
    font-size: 12px;
    padding: 5px;
}
.sub-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin: 50px auto;
}

#detail-content{
    white-space: nowrap
}
.pagination{
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 30px;
}

#errorMessage{
    font-size: 12px;
    color: chocolate;
}
#result{
    font-size: 12px;
    color: chocolate;
}
#pwResult{
    font-size: 12px;
    color: chocolate;
}
#idCheck{
    width: 70px;
    height: 30px;
    margin-left: 20px;
    background-color: sienna;
    border: none;
    color: white;
}
.input_a{
    border: 0;
    outline: 0;
    padding: 5px;
    margin-left: 60px;
}
.input_b{
    border: none;
    padding: 5px;
    margin-right: 65px;
    width: 150px;
}
.input_c{
    border: none;
    margin-right: 90px;
    padding: 5px;
}
.input_d{
    border: none;
    margin-right: 15px;
    padding: 5px;
}
.input_e{
    border: none;
    margin-right: 50px;
    padding: 5px;
}
.input_f{
    border: none;
    margin-right: 35px;
    padding: 5px;
}



/* 모달 배경 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
/* 모달 내용 스타일 */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
.modal-content button {
    padding: 10px 20px;
    background-color: sienna;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-content button:hover {
    background-color: saddlebrown;
}
