#footer{
    text-align: center;
}
.body{
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-decoration-color: black;
    text-align: center;
    padding: 15px;
}
#body textarea{
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
        }
.delete{
    text-decoration-line: none;
    float: right;
    margin-right: 30px;
}
.value{
    padding-bottom: 2px;
    font-size: 15px;
}
a{
    text-decoration-line: none;
}
.body > a{
    color: black;
}
.body-detail{
    justify-content: right;
    align-items: center;
    margin: 50px;
    text-align: center;
}
.center{
    justify-content: right;
    align-items: center;
    margin: 50px;
    text-align: center;
}
textarea{
    width: 200px;
    height: 300px;
    background-color: lightgray;
    font-size: 15px;
}
.addCartbtn{
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: lightgray;
}
.addCartbtn:hover{
    background-color: darkgrey;
}

.kakao{
    margin: 30px;
}

#submitBtn{
    width: 150px;
    height: 50px;
    background-color: sienna;
    font-size: 13px;
    color: white;
    border: 0;
    outline: 0;
}
#submitBtn:hover{
    background-color: saddlebrown;
}
#cancelBtn{
    width: 150px;
    height: 50px;
    background-color: sienna;
    font-size: 13px;
    color: white;
    border: 0;
    outline: 0;
}
#cancelBtn:hover{
    background-color: saddlebrown;
}

.login{
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 100px;
    text-decoration-color: black;
    text-align: center;
}

.input_a{
    border: 0;
    outline: 0;
}
.index_a{
    border-radius: 30px;
    background-color: burlywood;
    text-decoration-color: black;
    margin-left: 10px;
}
.index_div{
    border-radius: 30px;
    background-color: burlywood;
    text-decoration-color: black;
    width: 130px;
    margin: 10px;
    float: right;
    font-size: 15px;

}
.findpw{
    margin-top: 30px;
}
.align-items{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: saddlebrown;
    margin-top: 20px;
}

#preview{
    width: 100px;
    height: 150px;
}
#img{
    width: 400px;
    height: 500px;

}
#img_list{
    width: 200px;
    height: 300px;
    margin: 20px;
    text-align: center;
}

.date-right{
    float: right;
    margin-right: 30px;
}
.product-list{
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.text-align{
    font-size: 12px;
    padding: 5px;
}
.sub-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 30px;
}

#detail-content{
    white-space: nowrap
}
.pagination{
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 30px;
}