<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>home</title>
 <link href="/css/style.css" rel="stylesheet">
</head>
<body th:replace="~{layout :: layout}">
<div th:fragment="content">
    <a th:class="index_a" href="/member/list">회원목록</a>
  <a th:class="index_a" href="/board/list">게시판목록</a>
  <a  th:class="index_a" href="/board/insert">게시판 작성</a>
  <a th:class="index_a" href="/product/list">상품목록</a>
  <a th:class="index_a" href="/product/insert">상품 작성</a>


</div>

</body>
</html>