<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mini_shopping.cart.mapper.CartMapper">

    <select id="cartFindById" resultType="com.example.mini_shopping.cart.model.CartVO">
        SELECT * FROM CART WHERE ID=#{id}
    </select>

    <insert id="insert">
        INSERT INTO CART(pName, price, count) VALUES (#{pName}, #{price}, #{count})
    </insert>
    <update id="update">
        UPDATE CART SET pName=#{pName}, price=#{price}, count=#{count}
    </update>
    <delete id="delete">
        DELETE FROM CART WHERE NUM=#{num}
    </delete>

</mapper>