<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mini_shopping.cart.mapper.CartMapper">

<!--    방자구니 조회-->
    <select id="getCart" resultType="com.example.mini_shopping.cart.model.CartVO">
        SELECT * FROM CART WHERE user_id=#{user_id
        }
    </select>


<!--    장바구니 추가-->
    <insert id="addCart">
        INSERT INTO CART(pname, price, quantity, user_id, pnum, img_name) VALUES (#{pname}, #{price}, #{quantity}, #{user_id}, #{pnum}, #{img_name})
    </insert>
<!--    장바구니 수량 수정-->
    <update id="update">
        UPDATE CART SET quantity= #{quantity} WHERE user_id=#{user_id} AND num=#{num}
    </update>
<!--    장바구니안에 상품 목록 삭제-->
    <delete id="delete" parameterType="int">
        DELETE FROM CART WHERE user_id=#{user_id} AND NUM=#{num}
    </delete>

</mapper>