<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mini_shopping.login.mapper.KakaoMapper">

    <insert id="save">
        INSERT INTO MEMBER(id, name, email, state) VALUES (#{userId}, #{userName}, #{userEmail}, #{state})
    </insert>
    <select id="findByid">
        SELECT COUNT(*) FROM member WHERE id=#{id}
    </select>


</mapper>