<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mini_shopping.member.mapper.MemberMepper">

    <select id="selectAll" resultType="com.example.mini_shopping.member.model.MemberVO">
        SELECT * FROM member ORDER BY num desc
    </select>
    <select id="getPageCnt" resultType="int">
        SELECT COUNT(*) FROM member
    </select>

    <select id="selectOne" resultType="com.example.mini_shopping.member.model.MemberVO">
        SELECT * FROM MEMBER WHERE NUM=#{num}
    </select>
    <select id="findbyId" resultType="com.example.mini_shopping.member.model.MemberVO">
        SELECT ID FROM MEMBER WHERE EMAIL=#{email} AND NAME=#{name}
    </select>

    <insert id="insertOK">
        INSERT INTO member(id, pw, tel, name, email) values(#{id}, #{pw}, #{tel}, #{name}, #{email})
    </insert>
    <update id="updateOK">
        UPDATE member SET id=#{id}, pw=#{pw}, tel=#{tel}, `name`=#{name}, email=#{email}
    </update>
    <update id="findbyPwOK">
        UPDATE MEMBER SET PW=#{pw} WHERE ID=#{id} AND EMAIL=#{email}
    </update>
    <delete id="deleteOK">
        DELETE FROM member WHERE NUM=#{num}
    </delete>

    <select id="idCheck" resultType="int" parameterType="String">
        SELECT count(*) FROM member WHERE id=#{id}
    </select>
    <select id="loginOK" resultType="com.example.mini_shopping.member.model.MemberVO">
        SELECT * FROM member WHERE id= #{id}
    </select>




</mapper>