<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mini_shopping.product.mapper.ProductMapper">

    <select id="selectAll" resultType="com.example.mini_shopping.product.model.ProductVO">
        SELECT * FROM product ORDER BY num desc
    </select>
    <select id="getListCnt" resultType="int">
        SELECT COUNT(*) FROM MEMBER
    </select>
    <select id="search" resultType="com.example.mini_shopping.product.model.ProductVO">
        SELECT * FROM product where searchWord=${searchWord}
    </select>

    <select id="getsearchCnt" resultType="int">
        SELECT COUNT(*) FROM product WHERE
    </select>

    <select id="selectOne" resultType="com.example.mini_shopping.product.model.ProductVO">
        SELECT * FROM product WHERE NUM = #{num}
    </select>

    <insert id="insertOK">
        INSERT INTO product( name, content, price, user_id, img_name)
        VALUES( #{name}, #{content}, #{price}, #{user_id}, #{img_name})
    </insert>
    <update id="updateOK">
        UPDATE product SET brandName=#{brandName}, name=#{name}, price=#{price}, user_id=#{user_id}, img_name=#{img_name}
    </update>
    <delete id="deleteOK">
        DELETE FROM product WHERE NUM = #{num}
    </delete>


</mapper>